.card {
    display: flex;
    flex-direction: column;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
}

.card__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
}

.card__title {
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    max-width: 220px;
  }

.card__description {
    display: flex;
    background-color: white;
    color: black;
    padding: 25px 20px 25px 20px;
    align-items: center;
    justify-content: space-between;
}

.card__like-button {
    display: flex;
    background: transparent url(../images/like-button.svg) center no-repeat;
    width: 21px;
    height: 18px;
    border-style: none;
}

.card__like-button_active {
    background-image: url(../images/like_active.svg);
}

.card__like-button:hover {
    cursor: pointer;
    opacity: 0.5;
  }