.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    padding: 0 19px;
}

.modal_open {
    display: flex;
}

.modal__container {
    position: relative;
    padding: 36px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    box-sizing: border-box;
}

.modal__container_preview {
    background-color: transparent;
    max-width: 75vw;
    max-height: 75vh;
}

.modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    width: 40px;
    height: 40px;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.modal__close:hover {
    opacity: 0.6;
}

.modal__heading {
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 54px 0;
    width: 330px;
    color: black;
}

.modal__input {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    display: block;
    border: none;
    margin-bottom: 30px;
    position: relative;
    padding: 0 0 13px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.modal__button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    width: 358px;
    height: 50.15px;
    cursor: pointer;
}

.modal__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 775px) {
    .modal {
        justify-content: center;
        box-sizing: border-box;
    }

    .modal__heading {
        margin-bottom: 75px;
        font-size: 18px;
    }

    .modal__container {
        width: 282px;
        height: 322px;
        padding: 22px;
    }

    .modal__button {
        width: 100%;
        font-size: 14px;
    }

    .modal__close {
        width: 26px;
        height: 26px;
        bottom: calc(100% + 5px);
        left: calc(100% - 35px);
        margin-bottom: 13px;
    }
}